<div style="width: 100%;">
    <div style="width: 50%;" class="card">
        <mat-card>
            <mat-card-title>Session Management</mat-card-title>
            <mat-card-content style="min-height: 100px;">
                <div style="width: 50%; float: left;">
                    <mat-form-field>
                        <input matInput placeholder="Neue Session ID" [value]="analysisSessionID"
                            (input)="analysisSessionID = $event.target.value">
                    </mat-form-field>

                    <br>
                    <button mat-button class="mat-raised-button mat-primary" (click)="createAnalysisSession()"
                        disabled="{{ analysisSessionID === '' }}">Create
                        Analysis Session</button>
                </div>
                <div style="width: 50%; float: left;">
                    <mat-form-field style="margin: 0px 0 0 0px;">
                        <mat-label>Analysis Session ID</mat-label>
                        <mat-select [(value)]="seletedAnalysisSessionID" (selectionChange)="onSessionSelected()">
                            <mat-option *ngFor="let analysisItem of analysis" [value]="analysisItem.id">
                                {{analysisItem.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="width: 50%;" class="card">
        <mat-card>
            <mat-card-title>Session History</mat-card-title>

            <mat-card-content>

                <mat-table [dataSource]="analysis" class="mat-elevation-z8">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
                    </ng-container>

                    <!-- Started Column -->
                    <ng-container matColumnDef="started">
                        <mat-header-cell *matHeaderCellDef>Beginn</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.started | date:'medium' }} </mat-cell>
                    </ng-container>

                    <!-- Stopped Column -->
                    <ng-container matColumnDef="stopped">
                        <mat-header-cell *matHeaderCellDef>Ende</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.stopped | date:'medium' }} </mat-cell>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef>Löschen</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button class="mat-flat-button" (click)="onDelete(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div style="width: 100%;" class="card">
    <mat-card>
        <mat-card-header>
			<mat-card-title>
				Session - Audio Steuerung
			</mat-card-title>
		</mat-card-header>
        <mat-card-content>
            <div style="margin-bottom: 20px;">
                <button mat-raised-button (click)="onAudioPlay()" class="audio-button">Play</button>
                <button mat-raised-button (click)="onAudioPause()" class="audio-button">Pause</button>
                <button mat-raised-button (click)="onAudioStop()" class="audio-button">Stop</button>
                <button mat-raised-button class="audio-button" (click)="startMusic()"
                    disabled="{{ selectedAnalysis && selectedAnalysis.started !== null }}">Start Analyse
                    Session</button>

                <button mat-raised-button class="audio-button" (click)="stopMusic()"
                    disabled="{{ ( selectedAnalysis && selectedAnalysis.started === null ) || ( selectedAnalysis && selectedAnalysis.stopped !== null ) }}">Stop
                    Analyse Session</button>
            </div>

            <div id="wavesurfer"></div>
            <div id="wavesurfer-timeline"></div>
        </mat-card-content>
    </mat-card>
</div>

<div style="width: 100%;" class="card">
    <mat-card>
        <mat-card-header>
			<mat-card-title>
				Session - Auswertung
			</mat-card-title>
			<span fxFlex></span>
				<button mat-raised-button
				(click)="onStatisticsRefresh()">Refresh
				</button>
		</mat-card-header>
        <mat-card-content>
            <div style="margin-top: 20px;" id="statistics"></div>
        </mat-card-content>
    </mat-card>
</div>